.container {
  padding-inline: 20px;
  padding-block: 40px;
  margin: 0 auto;
  width: 1440px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
  text-transform: uppercase;
}

.goBackBtn {
  margin-bottom: 20px;
}

.additionalTitle {
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #646cff;
}
